[submodule "externals/asio"]
	path = externals/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "externals/aixlog"]
	path = externals/aixlog
	url = https://github.com/badaix/aixlog.git
[submodule "externals/popl"]
	path = externals/popl
	url = https://github.com/badaix/popl.git
