[submodule "externals/aixlog"]
	path = externals/aixlog
	url = https://github.com/badaix/aixlog.git
[submodule "externals/popl"]
	path = externals/popl
	url = https://github.com/badaix/popl.git
[submodule "externals/jsonrpcpp"]
	path = externals/jsonrpcpp
	url = https://github.com/badaix/jsonrpcpp.git
